xml/student.dtd

<!DOCTYPE STUDENTS [
<!ELEMENT FirstName (#PCDATA)>
<!ELEMENT MiddleName (#PCDATA)>
<!ELEMENT LastName (#PCDATA)>
<!ELEMENT PreferredName (#PCDATA)>
<!ELEMENT StudentID (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT Phone (#PCDATA)>
<!ELEMENT Status (#PCDATA)>
<!ELEMENT GPA (#PCDATA)>
<!ELEMENT Major (#PCDATA)>
<!ELEMENT Minor (#PCDATA)>
<!ELEMENT Status (#PCDATA)>
<!ELEMENT Advisor (#PCDATA)>
<!ELEMENT Dateofinitialenrollment (#PCDATA)>
<!ELEMENT Graduationdate (#PCDATA)>
]>
